# # CHAPTER - 1         PRINT STATEMENT

In [ ]:
print('Hello, World')

In [ ]:
print("Hello, World")

# CHAPTER-2           VARIABLES FOR STRING

In [ ]:
name = "Imran Khan"
name ='Imran Khan'

In [ ]:
f_name = 'Imran Khan'

In [ ]:
new_name = 'Imran Khan'

In [ ]:
name = 'Nawaz Shareef'

In [ ]:
lesson_to_learn = 'Imran khan'
my_NAME_in_capital_letters = 'UNITED STATE AMERICA'

In [2]:
x , y , z = 'hello friends' , 'take tea' , 'to be honnest'

 # CHAPTER-3        VARIABLES FOR NUMBERS

In [ ]:
age = 25

In [ ]:
weight = '25'

In [ ]:
mangoes = 10

In [ ]:
mangoes + 10
mangoes_sum = mangoes +10

In [ ]:
height = 25
width = 50
summation = height + width
print(height + width)

In [ ]:
a = 10
b = 10.5
sum = a-b
print(sum)
# print(type(a))
# print(type(b))

# b = a
# print(b)
# type(b)

In [ ]:
first_prime_num = 2
first_odd_num = '1'
take_sum = first_prime_num + first_odd_num
print(take_sum)
# type(take_sum)
# print(take_sum + str(10))

# # CHAPETR - 4 MATHS EXPRESSION - FAMILIAR OPERATORS

In [ ]:
popular_number = 4

In [ ]:
popular_number = 2 + 2 
popular_number

In [ ]:
loss = 12 - 10
loss

In [ ]:
doxens = 3 * 12
doxens

In [ ]:
marks = 0
a = 5 
b = 5
marks = a/b
print(marks)
# print(int(marks))

# Chapter -5 Variable Names Legal and Illegal

# Chapter - 6 Math expressions: Unfamiliar operators

In [5]:
whats_left_over = 10 % 3
whats_left_over

1

In [ ]:
whats_left_over = 9 % 3
whats_left_over

In [ ]:
age = 54
age += 1
print(age)

In [ ]:
age = 12
age += 50

In [ ]:
age = 12
age -= 2

In [ ]:
age = 12
age *= 3

In [ ]:
age = 12
amount_to_increment = 3
age += amount_to_increment

In [14]:
a = 15
b = 2
c = a/b
print(c)

7.5

# Chapter - 7 Math expressions: Eliminating ambiguity

In [ ]:
total_cost = 1 + 3 * 4
total_cost

In [16]:
2**5

32

In [ ]:
total_cost = 1 + (3 * 4)

In [ ]:
result_of_computation = (2 * 4) * 4 + 2
result_of_computation

In [19]:
(2 * 4) * 4 + 2

34

In [18]:
result_of_computation = ((2 * 4) * 4) + 2
result_of_computation

34

In [ ]:
result_of_computation = (2 * 4) * (4 + 2)

# Chapter 8 - Concatenating text strings

# Chapter 9 - if statements

In [2]:

if species == "cat":
    print("Yep, it's cat.")

NameError: name 'species' is not defined

In [ ]:
if species == "cat":
    print("Yep, it's cat.")

In [ ]:
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

In [ ]:
if 2 + 5 == 4:
    print("Everything makes sense.")

In [ ]:
number_of_wives = 1
if number_of_wives == 1:
    print("So far so good.")

In [ ]:
if number_of_wives == 2:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

# Chapter 10 - Comparison operators

In [ ]:
car = 'audi'
car.upper() == 'AUDI'

In [4]:
n=int(input("Enter an integer1 : "))
n1=int(input("Enter an integer2 : "))
print(n+n1)

Enter an integer1 : 10
Enter an integer2 : 12
22

In [16]:
n=int(input("Enter an integer1 : "))
if n % 2 == 0: print(n,">>> is Even")
else: print(n,">>> is ODD")

Enter an integer1 : 15
15 >>> is ODD